<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About me</title>
</head>

<body>
    <nav>
        <div class="left_nav">Yuldashev</div>
        <div class="right_nav">
            <a href="">
                <p>#</p>Home
            </a>
            <a href="">
                <p>#</p>Works
            </a>
            <a href="">
                <p>#</p>About-me
            </a>
            <a href="">
                <p>#</p>Contacts
            </a>
            <div>EN</div>
        </div>
    </nav>
    <header>
        <div class="left_header">
            <h1>I'm a <span>Back-end</span> developer and <br><span>Cebyrsecurity</span> enthusiast</h1>
            <p>Exploring how powerful Back-end logic and strong Cybersecurity principles.</p>
            <button>Contact me</button>
        </div>
        <div class="right_header"><img src="/Images/cybersecurity.png"></div>
    </header>
    <div class="projects">
        <div class="proj_title">
            <p><span>#</span>Projects</p>
            <a href="/projects">View all</a>
        </div>
        <div class="proj_cards">
            <div class="card">
                <img src="/Images/1.jpg" class="card-image" />
                <div class="card-tags">
                    React Express Discord.js Node.js<br />
                    HTML SCSS Python Flask
                </div>
                <div class="card-body">
                    <h3><span>Chert</span>Node</h3>
                    <p>Minecraft servers hosting</p>
                    <button class="live-button">View</button>
                </div>
            </div>
            <div class="card">
                <img src="/Images/1.png" class="card-image" />
                <div class="card-tags">
                    React Express Discord.js Node.js<br />
                    HTML SCSS Python Flask
                </div>
                <div class="card-body">
                    <h3>Protect<span>X</span></h3>
                    <p>Discord anti-crash bot</p>
                    <button class="live-button">View</button>
                </div>
            </div>
            <div class="card">
                <img src="/Images/2.png" class="card-image" />
                <div class="card-tags">
                    React Express Discord.js Node.js<br />
                    HTML SCSS Python Flask
                </div>
                <div class="card-body">
                    <h3><span>Kahoot</span> Viewer!</h3>
                    <p>Get answers to your Kahoot!</p>
                    <button class="live-button">View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="skills">
        <div class="skill_title">
            <p><span>#</span>Skills</p>
        </div>
        <div class="skills-container">
            <div class="skills-category">
                <h3>Using now:</h3>
                <div class="skills-grid">
                    <div class="skill-item">
                        <img src="/Images/Icons/html.png" alt="HTML5" />
                        <span>HTML</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/css-3.png" alt="CSS3" />
                        <span>CSS</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/js.png" alt="JavaScript" />
                        <span>JavaScript</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/bootstrap.png" alt="Bootstrap" />
                        <span>Bootstrap</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/social.png" alt="Git" />
                        <span>Git</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/figma.png" alt="Figma" />
                        <span>Figma</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/node-js.png" alt="Node.js" />
                        <span>Node.js</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/npm.png" alt="NPM" />
                        <span>NPM</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/express.png" alt="Express JS" />
                        <span>Express JS</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/api.png" alt="API" />
                        <span>API</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/json.png" alt="JSON" />
                        <span>JSON</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/obs.png" alt="Obsidian" />
                        <span>Obsidian</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/vs.png" alt="VS code" />
                        <span>VS Code</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/vercel.png" alt="Vercel" />
                        <span>Vercel</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/images.png" alt="Netlify" />
                        <span>Netlify</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/R.png" alt="Render" />
                        <span>Render</span>
                    </div>

                </div>
            </div>

            <div class="skills-category">
                <h3>Learning:</h3>
                <div class="skills-grid">
                    <div class="skill-item">
                        <img src="/Images/Icons/cyber-security.png" alt="Cybersecurity" />
                        <span>Cyber Security</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/python.png" alt="Python" />
                        <span>Python</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/linux.png" alt="Linux" />
                        <span>Linux</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/react.png" alt="React JS" />
                        <span>React.js</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/vue.png" alt="vue js" />
                        <span>Vue.js</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/Angular.png" alt="Angular" />
                        <span>Angular</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/mysql.png" alt="MySQL" />
                        <span>MySQL</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/docker.png" alt="Docker" />
                        <span>Docker</span>
                    </div>
                    <div class=" skill-item">
                        <img src="/Images/Icons/c.png" alt="C++" />
                        <span>C++</span>
                    </div>
                </div>
            </div>

            <div class="skills-category">
                <h3>Other skills:</h3>
                <div class="skills-grid">
                    <div class="skill-item">
                        <img src="/Images/Icons/flag.png" alt="English" />
                        <span>English B2/C1</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/russia.png" alt="Russian" />
                        <span>Russian C1/C2</span>
                    </div>
                    <div class="skill-item">
                        <img src="/Images/Icons/uzbekistan.png" alt="Uzbekistan" />
                        <span>Uzbek C1/C2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skills">
        <div class="skill_title">
            <p><span>#</span>About-me</p>
        </div>
        <div class="skills-container about">
            <div class="skills-category">
                <p>Hey, I'm <span>Umid</span> – a <span>full-stack</span> developer with a soft
                    spot for clean code, dark themes, and a deep, possibly unhealthy obsession with
                    <span>Cybersecurity</span>.
                </p>

                <p>By day, I'm building websites and APIs. By night, I'm probably trying to break them (ethically, of
                    course). I love exploring how systems work — and more importantly, how to make them unbreakable. Or
                    at least harder to break.</p>

                <p>When I'm not fighting with bugs or reading about <span>Linux</span> internals for
                    fun, I'm either:</p>

                <ul>
                    <li>I dream of traveling the world... but let’s be honest — with my current schedule, I mostly
                        travel between my desk, the fridge, and <span>Stack Overflow</span>. ✈️💻🍕
                    </li>
                    <li>Spending 3 hours fixing a bug caused by a 3-second decision.</li>
                    <li>Trying to dress like a gentleman while Googling “why is my DIV not centering?”</li>
                </ul>

                <p>Coding is more than just work — it's my favorite puzzle. Every project is a new map. Every bug is a
                    mini boss. Every deployment? Well... that's the final boss.</p>

                <p>Currently leveling up my <span>English</span> and <span>Back-end</span> skills — so if you see me
                    talking to myself in two languages
                    while debugging, mind your business 😅</p>
            </div>
            <img src="/Images/cybersecurity.png" alt="Cybersecurity Icon" />
            <div class="skills-category"></div>
        </div>
    </div>
    </div>

    <!-- <section id="about-me">
        <p><span>#</span>About-me</p>
        <div class="about-card">
            <div class="about-content">

                <p>Hey, I'm <span>Umid</span> – a <span>full-stack</span> developer with a soft
                    spot for clean code, dark themes, and a deep, possibly unhealthy obsession with
                    <span>Cybersecurity</span>.
                </p>

                <p>By day, I'm building websites and APIs. By night, I'm probably trying to break them (ethically, of
                    course). I love exploring how systems work — and more importantly, how to make them unbreakable. Or
                    at least harder to break.</p>

                <p>When I'm not fighting with bugs or reading about <span>Linux</span> internals for
                    fun, I'm either:</p>

                <ul>
                    <li>I dream of traveling the world... but let’s be honest — with my current schedule, I mostly
                        travel between my desk, the fridge, and <span>Stack Overflow</span>. ✈️💻🍕
                    </li>
                    <li>Spending 3 hours fixing a bug caused by a 3-second decision.</li>
                    <li>Trying to dress like a gentleman while Googling “why is my DIV not centering?”</li>
                </ul>

                <p>Coding is more than just work — it's my favorite puzzle. Every project is a new map. Every bug is a
                    mini boss. Every deployment? Well... that's the final boss.</p>

                <p>Currently leveling up my <span>English</span> and <span>Back-end</span> skills — so if you see me
                    talking to myself in two languages
                    while debugging, mind your business 😅</p>

            </div>
            <div class="about-icon">
                <img src="images/security-icon.png" alt="Cybersecurity Icon" />
            </div>
        </div>
    </section> -->
</body>

</html>