<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About me</title>
</head>

<body>
    <nav>
        <div class="left_nav">Yuldashev</div>
        <div class="right_nav">
            <a href="">
                <p>#</p>Home
            </a>
            <a href="">
                <p>#</p>Works
            </a>
            <a href="">
                <p>#</p>About-me
            </a>
            <a href="">
                <p>#</p>Contacts
            </a>
            <div>EN</div>
        </div>
    </nav>
    <header>
        <div class="left_header">
            <h1>I'm a <span>Back-end</span> developer and <br><span>Cebyrsecurity</span> enthusiast</h1>
            <p>Exploring how powerful backend logic and strong cybersecurity principles.</p>
            <button>Contact me</button>
        </div>
        <div class="right_header"><img src="/Images/cybersecurity.png"></div>
    </header>

</body>

</html>