@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    font-family: "Fira Code", monospace;
}

html {
    background-color: #282C33;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    align-items: center;
    background-color: #282C33;
    font-family: "Fira Code", monospace;
    flex-direction: column;
    width: 80%;
    height: 100%;
}


header {
    display: flex;
    height: 400px;
    width: 80%;
}

.left_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    width: 50%;
}

span {
    color: #C778DD;
}

.left_header p {
    color: #ABB2BF;
}

button {
    border-radius: 10px;
    transition: background-color 0.4s ease, color 0.4s ease;

}

.left_header button {
    background-color: transparent;
    border: 1px solid #C778DD;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
}

button:hover {
    background-color: #C778DD;
}

.right_header {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.proj_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}

.proj_title a {
    color: white;
    text-decoration: none;
}

.proj_title a:hover {
    color: #C778DD
}

.proj_cards {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1000fr));
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #282C33;
    border: 1px solid #333;
    width: 320px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
}

.card-image {
    width: 100%;
    display: block;
}

.card-tags {
    background: #282C33;
    font-size: 12px;
    padding: 8px;
    border-top: 1px solid #ABB2BF;
    border-bottom: 1px solid #ABB2BF;
    text-align: center;
    color: #ABB2BF;
    width: 100%;
}

.card-body {
    padding: 16px;
}

.card-body h3 {
    color: white;
    margin: 0;
    font-size: 18px;
}

.card-body p {
    margin: 6px 0 16px;
    font-size: 14px;
    color: white;
}

.live-button {
    background: #282C33;
    border: 1px solid #C778DD;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}



.skills {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill_title {
    color: white;
    width: 100%;
}

.skills-container {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

}

.skills-category {
    margin-bottom: 24px;
    color: white;
}

.skills-category h3 {
    margin-bottom: 12px;
    font-size: 18px;
    color: white;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
}

.skill-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
}

.skill-item span {
    font-size: 13px;
    color: white;
}





#about-me {
    padding: 40px 20px;
    width: 80%;
    margin: auto;
    color: #ddd;
}

.abt_tit {
    color: #fff;
}

#about-me h2 {
    color: #b57edc;
    font-size: 24px;
    margin-bottom: 20px;
}

.about-card {
    background-color: #282C33;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
    border-radius: 8px;
}


.about-content {
    flex: 1 1 500px;
    min-width: 300px;
    /* font-size: 10px; */
}

.about-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-content ul {
    /* list-style: none; */
    padding-left: 20px;
    margin-bottom: 20px;
}

.about-content li {
    margin-bottom: 10px;
}

.about-icon {
    flex: 0 1 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-icon img {
    max-width: 150px;
    opacity: 0.9;
}