@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    font-family: "Fira Code", monospace;

}

html {
    background-color: #282C33;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    background-color: #282C33;
    font-family: "Fira Code", monospace;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: white;
}

.right_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
}

.left_nav {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 50%;
    font-weight: 900 !important;
}

.right_nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.right_nav p {
    color: #C778DD;
}

header {
    display: flex;
    height: 900px;
    width: 80%;
}

.left_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    width: 50%;
}

span {
    color: #C778DD;
}

.left_header p {
    color: #ABB2BF;
}

.left_header button {
    border: 1px solid #C778DD;
    color: white;
    background-color: #282C33;
    padding: 10px;
    cursor: pointer;
}

.right_header {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proj_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}

.proj_title a {
    color: white;
    text-decoration: none;
}


.proj_cards {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1000fr));
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #282C33;
    border: 1px solid #333;
    width: 320px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
}

.card-image {
    width: 100%;
    display: block;
}

.card-tags {
    background: #282C33;
    font-size: 12px;
    padding: 8px;
    border-top: 1px solid #ABB2BF;
    border-bottom: 1px solid #ABB2BF;
    text-align: center;
    color: #ABB2BF;
}

.card-body {
    padding: 16px;
}

.card-body h3 {
    color: white;
    margin: 0;
    font-size: 18px;
}

.card-body p {
    margin: 6px 0 16px;
    font-size: 14px;
    color: white;
}

.live-button {
    background: #282C33;
    border: 1px solid #C778DD;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}



.skills {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill_title {
    color: white;
    width: 100%;
}

.skills-container {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

}

.skills-category {
    margin-bottom: 24px;
    color: white;
}

.skills-category h3 {
    margin-bottom: 12px;
    font-size: 18px;
    color: white;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
}

.skill-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
}

.skill-item span {
    font-size: 13px;
    color: white;
}




.about {
    display: flex;
    flex-direction: row !important;
    font-size: 16px;
}